main {
  display: flex;
  justify-content: space-between;

  /* card effect */
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin: 30px;
}
h1 {
  color: #058c42;
}

img {
  width: 500px;
  height: 400 px;
  padding: 10px;
}

.imgHero {
  /* width: 500px;
  height: 400 px;
  padding: 10px; */
  width: 100%;
  height: auto;
}

.titleHero {
  display: block;
  margin-top: 50px;
}
