.mrcWholeContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.mrcSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px 20px 0 20px;
  border: solid 2px #00120b;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

h3.miniRecipeCardHeading {
  margin: 20px 10px;
  text-align: center;
}

.leftColumn,
.rightColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

/* .middleColumn {
  width: 50%;
} */

.iconBackground {
  background-color: [depends_on_api_values];
  height: 40px;
  width: 40px;
  border-radius: 50px;
  padding: 5px;
}

.Icon {
  height: 40px;
  width: 40px;
}

/* .recipeImage {
  display: block;
  margin: auto;
  height: auto;
} */
.mealType {
  margin: 20px 10px 0 10px;
  color: #fff;
  background-color: #4ebd6e;
  padding: 5px 40px;
  text-transform: uppercase;
  text-align: center;
}

.mrcSwapContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
