.textButton {
  border: solid 2px #d1d1d1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 8px 32px;
  background-color: #4ebd6e;
}

.textButton:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  background-color: #058c42;
}

.buttonContainer {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
}
